html {
  font-size: clamp(11px, 1.2vw, 18px);
}

header {
  display: flex;
  width: 100vw;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color:#000000;
  background-color: #fff7e0; 
}

nav {
  padding-left: 20px;
  /* padding-right: 20px; */
}

a {
  text-align: center;
}

section {
  margin: 5vh;
  font-family: 'Montserrat', sans-serif;
  color:#3c5169;
  background-color: #fff7e0; 
}


body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff7e0;
  margin: 0;
  scroll-behavior: smooth;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  width: 100vw;
  margin-top: 20px;
  justify-content: space-between;
}

.navbar {
  background-color: #c4ffb5; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 20px; */
  width: 100%;
  /* gap: 10px; */
  position: relative; 
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 1.25rem;
  flex-shrink: 1;
  font-weight: 700;
  letter-spacing: 1px;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.top-banner {
  width: 100%;
  height: auto;
  display: block;
}
.content {
  padding: 40px;
  padding-top: 20px;  
  min-height: 100vh;
  box-sizing:border-box
}
.content a {
  text-decoration: none;
  color: #c4ffb5;
}
a:hover {
  text-decoration: underline;
}
@media (max-width: 1000px) {
  /* .navbar {
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
    position: relative;
    min-height: 70px;
    padding: 0 1.5rem;
  } */

  .navbar {
    gap: 0px;
    justify-content: flex-start;
  }



  .navbar a {
    margin-left: -15px;
    font-size: 1.125rem;
  }

  .content {
    padding: 20px;
  }

  h1 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.category {
  margin-bottom: 40px;
}

.category h2 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  font-size: .3rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #c4ffb5;
  padding-bottom: 5px;
}


.projects-grid {
  display: flex;
  flex-direction: column;
  /* gap: 28px; */
  margin: 40px 30px;
  width: 90%;
  max-width: 1100px; 
  /* min-height: 300px; */
  /* margin-left: auto;
  margin-right: auto; */
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.projects-grid.active {
  opacity: 1;
  transform: translateY(0);
}

.project-card {
  background: #c4ffb5;
  border-radius: 14px;
  border: 4px solid #b2fa9f;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  gap: 24px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 20px;
}

.first-card {
  background: #c4ffb5;
  border-radius: 14px;
  border: 4px solid #b2fa9f;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  gap: 24px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.first-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.2);
  outline: 3px solid #ffc729;
}

.first-card img {
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
  width: 100%;
  height: 220px;
}

.project-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.project-card a {
  margin-top: auto;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.2);
  outline: 3px solid #ffc729;
}

.project-card img {
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
  width: 100%;
  height: 220px;
}

.project-card h3 {
  /* margin: 8px 0 6px;
  color: #e1a80a; */
  margin: 10px;
  font-size: 1.4rem;
}

/* .project-card h3 {
  /* margin: 8px 0 6px;
  color: #e1a80a; */
  /* margin-top: 10px; */
  /* font-size: 100px;
} */

.project-card a:hover {
  text-decoration: underline;
}
.project-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.internal-link {
  margin-top: auto;
  font-weight: 700;
  color: #fff;
}
.project-info a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  padding: 30px 40px;
}

.menu-toggle {
  display: none;
  font-size: 5rem;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 45%;
  transform: translateY(-50%);
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* margin: 0; */
  margin-right: 30px;
  padding: 0;
}


@media (max-width: 1000px) { /* 768 */
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #b2fa9f;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 92%; 
    left: 0;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .nav-links a {
    color: white;
    font-size: 1.2rem;
  }

  .nav-links.show {
    display: flex; 
  }
}


.section-label {
  /* margin-top: 50px; */
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #95d583;
}

.event-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  font-size: 1rem;
}
.event-section a {
  color: #000000;
  font-weight: 700;
}

.event-section a:hover {
  text-decoration: underline;
}

.event1-button {
  background-color: #c4ffb5;
  border: 5px solid #b2fa9f;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 700;
}
 .event1-button a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.event1-button a:hover {
  text-decoration: underline;
}


h1 {
  margin: 20px;
  font-size: clamp(52px, 10vw, 120px);
  font-weight: 900;
  /* padding: 0px 40px; */
  /* margin-bottom: 20px; */
}
h2 {
  margin: 20px;
  font-size: clamp(30px, 8vw, 15px);
  font-weight: 900;
  /* margin-bottom: 20px; */
}

.body {
  /* display: flex; */
  justify-content: center;
  max-width: fit-content;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #000000;
}

.section-label.bottom {
  margin-top: 160px;
}
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #c4ffb5;
  border-radius: 14px;
  border: 4px solid #b2fa9f ;
  /* box-shadow: 0 8px 20px rgba(0,0,0,0.15); */
  /* background: #ffe089 */
}
.footer-sections {
  display: flex;
  align-items: flex-start;
  /* justify-self: flex-end; */
  width: 100vw;
  justify-content: space-around;
  flex-direction: row;
  background-color: #c4ffb5;
  gap: 25px;
  padding: 40px 0px;
  position: relative;
}

.container a {
  margin-top: 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.search-bar {
  margin: 20px;
  width: calc(100% - 40px);
  max-width: 500px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 2px solid #000000;
  font-size: 1rem;
  /* margin-bottom: 24px; */
  justify-content: center;
  display: block;
  /* margin: 0 auto 24px; */
}

@media (max-width: 1100px) {
/* project-card {
    flex-direction: column;
    align-items: flex-start;
  } */

  .project-card img {
    /* width: 100%;
    height: 180px; */
    /* object-fit: contain; */
  }
}

@media (max-width: 800px) {
  .footer-sections {
    flex-direction: column;
    align-items: center;
  }
}

.menu {
  position: relative;
  display: inline-block;
}
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-decoration: none;
  flex-shrink: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

.dropdown {
  display: none;
  position: absolute;
  background: #666;
  min-width: 140px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown a:hover {
  background: #555;
}

.menu:hover .dropdown {
  display: block;
}